nav{
    font-size:30px;
}
ul{
    display:block;
  
    height:60px;
    width:100%;
    color:rgba(0,0,0,0.8);
    border-bottom:1px solid rgba(0,0,0,0.08);
    box-shadow: 0 1px 6px rgba(0,0,0,0.05);
    box-sizing: border-box;
    list-style: none;
    z-index: 2;
    margin-top:0;
    padding:15px;
    overflow:hidden;
    background-color:hsl(200, 60%, 15%);
    margin-right: 55px;
   
    
}

li{
    float:left;
    
}


li:last-chlid{
    border-right:none;
}

li a{
    display:block;
    color:white;
    text-align:center;
    padding:14px 16px;
    text-decoration: none;;
}


.abc{
    float:left;
}